node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/1.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/18.pack.gz
.next/cache/webpack/server-development/19.pack.gz
.next/cache/webpack/server-development/20.pack.gz
.next/cache/webpack/server-development/21.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/server/app/auction/page.js
.next/server/app/favicon.ico/route.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/about.js
.next/static/chunks/_error.js
.next/static/chunks/app-client-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/auction/page.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/about.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/2aaf0723e720e8b9-s.p.woff2
.next/static/media/9c4f34569c9b36ca-s.woff2
.next/static/media/ae9ae6716d4f8bf8-s.woff2
.next/static/media/b1db3e28af9ef94a-s.woff2
.next/static/media/b967158bc7d7a9fb-s.woff2
.next/static/media/c0f5ec5bbf5913b7-s.woff2
.next/static/media/d1d9458b69004127-s.woff2
.next/static/webpack/3c72fd67045fd10d.webpack.hot-update.json
.next/static/webpack/7bd986703e5d76e5.webpack.hot-update.json
.next/static/webpack/08bbe3671c2a994f.webpack.hot-update.json
.next/static/webpack/30bc3029fb25dce3.webpack.hot-update.json
.next/static/webpack/38d67066ea3cccb9.webpack.hot-update.json
.next/static/webpack/223af66fe3bb54f7.webpack.hot-update.json
.next/static/webpack/c3af6e52616685f1.webpack.hot-update.json
.next/static/webpack/c6e9972faec3d889.webpack.hot-update.json
.next/static/webpack/c965c5319a8c5827.webpack.hot-update.json
.next/static/webpack/webpack.3c72fd67045fd10d.hot-update.js
.next/static/webpack/webpack.7bd986703e5d76e5.hot-update.js
.next/static/webpack/webpack.08bbe3671c2a994f.hot-update.js
.next/static/webpack/webpack.30bc3029fb25dce3.hot-update.js
.next/static/webpack/webpack.38d67066ea3cccb9.hot-update.js
.next/static/webpack/webpack.223af66fe3bb54f7.hot-update.js
.next/static/webpack/webpack.c3af6e52616685f1.hot-update.js
.next/static/webpack/webpack.c6e9972faec3d889.hot-update.js
.next/static/webpack/webpack.c965c5319a8c5827.hot-update.js
.next/static/webpack/app/layout.3c72fd67045fd10d.hot-update.js
.next/static/webpack/app/layout.7bd986703e5d76e5.hot-update.js
.next/static/webpack/app/layout.c3af6e52616685f1.hot-update.js
.next/static/webpack/app/layout.c6e9972faec3d889.hot-update.js
.next/static/webpack/app/layout.c965c5319a8c5827.hot-update.js
.next/static/webpack/app/auction/page.30bc3029fb25dce3.hot-update.js
.next/static/webpack/app/auction/page.c3af6e52616685f1.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/auction/page.ts
